* {
  border-radius: 0 !important;
}

body {
   font-family: 'Roboto', sans-serif;
   font-weight: 200;
}

#wraper
{
	width: 416px;
	margin: 50px auto;
}

#wraper #resultArea input
{
	width: 414px;
}

#functionsButton
{
  width: 137px;
  float: left;
}

#numpad_buttons
{
  display: inline-block;
  width: 205.5px;
}

#functionsButton button, #clearFunction button, #numpad button, #operatorButton button
{
	width: 70px;
  height: 55px;
}

button[type=button] {
    margin-top: -1px;
    margin-left: -5px;
    display: inline-block;
    border: 0.5px solid #E8E8E8;
    box-sizing: border-box;
    background-color: #F3F3F3;
    color: #838383;
    font-size: 0.9em;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    margin-top: 80px;
    margin-bottom: 1px;
    margin-left: -5px;
    display: inline-block;
    border: 1px solid #FB565A;
    box-sizing: border-box;
    background-color: #FB565A;
    color: white;
    font-size: 1.5em;
    direction: ltr;
}

#operatorButton
{
	width: 71px;
	float: right;
}

#numpad_buttons .numpad {
	background-color: white;
}

#numpad_buttons #zero
{
	background-color: white;
	width: 139px;
}

#operatorButton .operator
{
	color: white;
	background-color: #FB565A;
}

#functionsButton .chosen
{
    background-color: #d6d6f5;
}

#clearFunction #clearAll
{
  width: 139px;
}
